@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');

/* device width start*/
* {
   width: 100%;
   margin: 0%;
   max-width: 2000px;
   margin-left: auto;
   margin-right: auto;
   scroll-behavior: smooth;
}


/* divice width end*/

/*header start*/
.header {
    height: 50px;
    background-color: #f6a00a;
    z-index: 10;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr auto auto;
    min-height: 35px;
    position: relative;
    padding-top: 10px;
    padding-right: 5px;
}

/*nav-bar med burgermenu start*/
.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.basket {
    width: 35px;
    grid-column: 2;
    padding-top: 3px;
}

.basket img {
    width: 25px;
}

.hamburger {
    display: block;
    order: 2;
    width: 35px;
    grid-column: 3;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 20px;
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
    position: absolute;
    left: -150%;
    top: 45px;
    gap: 0;
    flex-direction: column;
    background-color: #f6a00a;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    height: 100vh;
    padding-top: 50px;
}

.nav-item {
    margin: 26px 0;
}

.nav-menu.active {
    left: 0;
    width: 100%;
    height: 100vh;
}

/*nav-bar med burgermenu end*/
/*header end*/

/*landing page video start*/
.hero {
    padding-top: 50px;
    height: fit-content;
    width: 100%;
    
}

.hero-video {
    display: block;
}

.hero-video-laptop {
    display: none;
}

/*landing page video end*/

/*contest start*/
.contest {
    background-image: url(/img/backgrounds-04-04.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.contest-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

/*slideshow instagram start*/
@keyframes fade{
    from{
      opacity:0.4;
    }
    to{
      opacity:1;
    }
}

.slider{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    overflow: hidden;
    
}
  
.slides{
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none;
    
}
  
.slides img{
    width:100%;
    border-radius: 2%;

}
  
.dots{
    margin: 0;
    text-align: center;
}

.dot{
    display: inline-block;
    border-radius: 50%;
    background:#d3d3d3;
    padding: 8px;
    margin: 10px 5px;
    width: 1px;
}
  
.active{
    background: #f6a00a; 
}

.insta-images {
    display: none;
}

/*slideshow instagram end*/

.contest-text {
    box-sizing: border-box;
    width: 80%;
    padding-bottom: 40px;
}

.contest h1 {
    font-family: 'Patrick Hand SC', cursive;
    color: #f6a00a;
    text-align: center;
    font-size: 2.5rem;
    padding-top: 2%;
    padding-bottom: 5%;
}

.contest p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    
}

.shop-heading {
    padding-bottom: 35%;
}
/*contest end*/

/*shop start*/
.shop h2 {
    font-family: 'Patrick Hand SC', cursive;
    color: #f6a00a;
    text-align: center;
    font-size: 2.5rem;
    z-index: 2;
}

.shop a {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    z-index: 2;
    font-size: 1rem;
    border-radius: 20px;
    background-color: #f6a00a;
    border-color: #f6a00a;
    text-decoration: none;
}

.products-shop {
    object-fit: cover;
    position: relative;
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
}

.types {
    display: flex;
    justify-content: space-between;
    gap: 35%;
    box-sizing: border-box;
    padding-left: 20%;
    padding-right: 20%;
}

.background-shop-info {
    margin-top: -1px;
}

/*shop end*/

/*infographic start*/
.background-info-om {
    margin-bottom: -5px;
}

.infographic-img-laptop {
    display: none;
}

/*infographic end*/

/*om start*/
.om-content {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

.history h2 {
    font-family: 'Patrick Hand SC', cursive;
    color: #f6a00a;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 5%;
    padding-top: 5%;
}

.history p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    font-size: 1rem;
}

.history {
    background-image: url(/img/backgrounds-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.history {
    display: flex;
    flex-direction: column;
}

.floating-can {
    width: 100%;
    object-fit: cover;
}

/*om end*/

/*produktsider start*/
.bag-header {
    height: 50px;
}

.container-productsite {
    box-sizing: border-box;
    padding-top: 5%;
}

.container-productsite h1 {
    font-family: 'Patrick Hand SC', cursive;
    color: #f6a00a;
    text-align: center;
    font-size: 1.87rem;
}

.container-productsite {
    display: flex;
    flex-direction: column;
}

.indhold {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding-top: 3px;
    padding-bottom: 10px;
}

.select-type {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.select-type option {
    width: 100%;
}

.select-antal {
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.select-antal option {
    width: 100%;
}

.købsfunktioner {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.køb {
    display: flex;
    flex-direction: column;
}

.køb select {
    margin-bottom: 20px;
}

.køb input {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    width: 100px;
    background-color: #f6a00a;
    border-radius: 20px;
    border-color: #f6a00a;
    color: white;
    margin-bottom: 20px;
}

.køb p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding-bottom: 3px;
}

/*produktsider end*/

/*kurv start*/
.kurv-tom {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.kurv-tom h1 {
    font-family: 'Patrick Hand SC', cursive;
    color: #f6a00a;
    text-align: center;
    font-size: 2rem;
    padding-top: 5px;
}

.kurv-tom img {
    width: 200px;
    padding-top: 20px;
}

.kurv-tom a {
    text-decoration: none;
    background-color: #f6a00a;
    color: white;
    font-family: 'Raleway', sans-serif;
    width: 100px;
    text-align: center;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/*kurv end*/

/*footer start*/
.line {
    display: block;
    background-color: #fdc60d;
    width: 100%;
    height: 5px;
}

.footer-link a {
    color: #f6a00a;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    padding-left: 3%;
}

.footer {
    background-color: #f6a00a;
}

.input {
    width: 80%;
}

.contact p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 1.2rem;
}

.contact {
    text-align: right;
    box-sizing: border-box;
    padding-right: 3%;
    padding-top: 5%;
    padding-bottom: 6%;
}

.kundeservice {
    width: 100%;
}

.input {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-content: space-between;
    gap: 5px;
    padding-bottom: 10%;
}

.message {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100px;
    color: white;
}

.submit-button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    width: 100px;
    background-color: #fdc60d;
    border-radius: 20px;
    border-color: #fdc60d;
    color: white;
}

input[type=text] {
    color: black;
}

/*footer end*/

/*break points start*/

/*break point mellem mobil start*/
@media screen and (min-width: 375px) {
    /*header start*/
    .header {
        height: 55px;
    }

    .bag-header {
        height: 55px;
    }

    .nav-menu a {
        font-size: 1.2rem;
    }
    /*header end*/

    /*video start*/
    .hero {
        padding-top: 55px;
    }
    /*video end*/

    /*om start*/
    .history h2 {
        font-size: 2.4rem;
    }
    /*om end*/

    /*footer start*/
    .contact {
        padding-right: 5%;
    }
    /*footer end*/

    /*produktside start*/
    .container-productsite h1 {
        font-size: 2.19rem;
    }
    /*produktside end*/
    
}
/*break point mellem mobil end*/

/*break point stor mobil start*/
@media screen and (min-width: 425px) {
    /*header start*/
    .header {
        height: 60px;
    }

    .nav-menu a {
        font-size: 1.4rem;
    }

    .bag-header {
        height: 60px;
    }
    /*header end*/

    /*video start*/
    .hero {
        padding-top: 60px;
    }
    /*video end*/

    /*produktside start*/
    .container-productsite h1 {
        font-size: 2.47rem;
    }
    /*produktside end*/

}
/*break point stor mobil end*/

/*break point tablet start*/
@media screen and (min-width: 768px) {
    /*header start*/
    .header {
        height: 70px;
    }

    .basket img {
        width: 35px;
    }
    
    .hamburger {
        width: 45px;
    }
    
    .bar {
        width: 35px;
    }

    .header-content {
        padding-top: 0;
        padding-right: 3%;
    }

    .basket {
        width: 50px;
    }

    .bag-header {
        height: 70px;
    }
    /*header end*/

    /*video start*/
    .hero {
        padding-top: 70px;
    }
    /*video end*/

    /*konkurrence start*/
    .contest-text h1 {
        font-size: 3rem;
    }

    .contest-text p {
        font-size: 1.4rem;
    }
    /*konkurrence end*/

    /*shop start*/
    .shop h2 {
        font-size: 3rem;
    }

    .shop-heading {
        padding-bottom: 55%;
    }

    .shop a {
        font-size: 1.5rem;
    }
    /*shop end*/

    /*om start*/
    .history h2 {
        font-size: 3rem;
    }

    .history p {
        font-size: 1.4rem;
    }
    /*om end*/

    /*footer start*/
    .contact {
        padding-right: 10%;
    }

    .contact p {
        font-size: 1.6rem;
    }

    .line {
        height: 7px;
    }

    .input input {
        font-size: 1.3rem;
    }
    /*footer end*/

    /*produktside start*/
    .container-productsite h1 {
        font-size: 4rem;
    }

    .køb p {
        font-size: 1.3rem;
    }

    .køb select {
        font-size: 1.3rem;
    }

    .køb input {
        font-size: 1.2rem;
        width: 200px;
    }

    .indhold {
        font-size: 1.3rem;
    }
    /*produktside end*/

    /*kurv start*/
    .kurv-tom h1 {
        font-size: 3rem;
    }
    /*kurv end*/

}
/*break point tablet end*/

/*break point lille computer start*/
@media screen and (min-width: 1024px) {
    /*header start*/
    .header {
        height: 60px;
    }

    .bag-header {
        height: 60px;
    }
    /*header end*/
    
    /*video start*/
    .hero {
        padding-top: 60px;
    }

    .hero-video {
        display: none;
    }

    .hero-video-laptop {
        display: block;
    }

    .hero {
        object-fit: cover;
    }
    /*video end*/

    /*konkurrence start*/
    .contest-content {
        padding-top: 0;
    }

    .slider {
        display: none;
    }

    .insta-images {
        display: flex;
        padding-top: 10%;
        justify-content: space-around;
    }
    
    .contest {
        background-position: bottom;
    }

    .contest p {
        font-size: 1.5rem;
    }
    /*konkurrence end*/

    /*shop start*/
    .products-shop {
        height: 800px;
    }

    .shop-content {
        gap: 0;
    }

    .shop a {
        font-size: 1.3rem;
    }

    .shop h2 {
        padding-bottom: 35%;
    }
    /*shop end*/

    /*infographic start*/
    .infographic-img {
        display: none;
    }

    .infographic-img-laptop {
        display: block;
    }
    /*infographic end*/

    /*om start*/
    .history {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20%;
    }

    .history p {
        font-size: 1.38rem;
    }
    /*om end*/

    /*footer start*/
    .input input {
        font-size: 1.2rem;
    }
    /*footer end*/

    /*produktside start*/
    .types {
        padding-bottom: 10%;
    }

    .container-productsite {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container-productsite h1 {
        font-size: 2.9rem;
    }

    .køb p {
        font-size: 1.2rem;
    }

    .køb select {
        font-size: 1.2rem;
    }

    .køb input {
        font-size: 1rem;
        width: 200px;
    }

    .købsfunktioner {
        padding-top: 20%;
    }

    .indhold {
        font-size: 1.2rem;
    }
    /*produktside end*/

    /*kurv start*/
    .kurv-tom a {
        width: 130px;
        font-size: 1.3rem;
    }
    /*kurv end*/

}
/*break point lille computer end*/

/*break point mellem computer start*/
@media screen and (min-width: 1440px) {
    /*header start*/
    .nav-menu a {
        font-size: 2rem;
    }
    /*header end*/

    /*konkurrence start*/
    .contest h1 {
        font-size: 4rem;
    }

    .contest p {
        font-size: 1.6rem;
        padding-bottom: 70px;
    }
    /*konkurrence end*/

    /*shop start*/
    .products-shop {
        height: 900px;
    }

    .shop h2 {
        font-size: 4rem;
        padding-bottom: 40%;
    }

    .types {
        padding-bottom: 15%;
    }
    /*shop end*/
    
    /*om start*/
    .history h2 {
        padding-top: 15%;
        font-size: 4rem;
    }

    .history p {
        font-size: 1.6rem;
    }
    /*om end*/

    /*footer start*/
    .input {
        padding-bottom: 5%;
    }

    .footer-link a {
        font-size: 4rem;
    }
    /*footer end*/

    /*produktside start*/
    .container-productsite h1 {
        font-size: 4rem;
    }

    .køb p {
        font-size: 1.3rem;
    }

    .køb select {
        font-size: 1.3rem;
    }

    .køb input {
        font-size: 1.2rem;
        width: 200px;
    }

    .køb option {
        width: 100px;
    }

    .indhold {
        font-size: 1.3rem;
    }
    /*produktside end*/

    /*kurv start*/
    .kurv-tom h1 {
        font-size: 4rem;
    }
    /*kurv end*/

}
/*break point mellem computer end*/

/*break point stor computer start*/
@media screen and (min-width: 1800px) {
    /*shop start*/
    .products-shop {
        height: 950px;
    }
    
    .shop h2 {
        padding-bottom: 35%;
    }

    .types {
        padding-bottom: 10%;
    }
    /*shop end*/

    /*footer start*/
    .footer p {
        font-size: 2rem;
    }
    /*footer end*/

    /*produktside start*/
    .container-productsite h1 {
        font-size: 5rem;
    }
    /*produktside end*/

}
/*break point stor computer end*/

/*break points end*/
